<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px; padding-top:10px">
	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.showPageById('products_page')">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">ASUS</span>
	</div>		
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #000), color-stop(1, #fff));"></div>			
	<div style="padding-top:5px" class="hbox justified_box">		
		<div style="padding-top:50px; width:30%">
			<img style="width:100%;" src="assets/product_images/Asus/Asus1.png"/>
		</div>					
		<div class="flex_child_2" style="-webkit-box-sizing:border-box; padding-left:10px;">
			<div style="padding-top:10px">
				<img style="width:60%" src="assets/product_images/Asus/Asus_logo.png"/>
			</div>	
			<div style="color:#505050; font-size:12px; padding-top:5px">
				Visually stunning, incredibly tough Corning&reg; Gorilla&reg; Glass enables today's 
				sleekest smartphone, tablet and laptop designs, while providing exceptional damage 
				resistance to the drops, bumps and scrapes of everyday use. Gorilla Glass is sensitive 
				enough for today's most sophisticated touch applications and is available with an easy-to-clean 
				coating.
			</div>			
			<div class="hbox center_box" style="width:100%; height:40px; line-height:40px; color:#555; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd)); font-size:9px; text-shadow:0 1px 0 rgba(255, 255, 255, .7); -webkit-border-radius: 5px; border: 1px solid #E0E0E0;  margin-top:10px">
				<div>FOLLOW ASUS ON</div>				
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/ASUS', '_blank')"></div>
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://twitter.com/#!/asus', '_blank')"></div>
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/asus', '_blank')"></div>							
			</div>
		</div>
	</div>
	<div style="color:#505050; font-size:12px; font-weight:bold; margin-top:15px; margin-bottom:5px">FEATURED</div>
	<div>								
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://eee.asus.com/eeepad/transformer-infinity/features/','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Asus/asus_transformer.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">ASUS TRANSFORMER PAD INFINITY</div>
		</div>	
		<div style="clear:both"></div>		
	</div>		
	<div style="color:#505050; font-size:12px; font-weight:bold; margin-top:15px; margin-bottom:5px">RELATED PRODUCTS</div>
	<div>								
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://www.asus.com/Eee/Eee_Pad/Eee_Pad_Slider_SL101/','_blank')">
			<img style="width:60px" src="assets/product_images/Asus/related_products1.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ASUS Eee Pad Slider</div>
		</div>		
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://www.asus.com/Eee/Eee_Pad/Eee_Pad_Transformer_TF101/','_blank')">
			<img style="width:60px" src="assets/product_images/Asus/related_products2.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ASUS Eee Pad Transformer</div>
		</div>				
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://eee.asus.com/en/eeepad/transformer-prime/features','_blank')">
			<img style="width:60px" src="assets/product_images/Asus/related_products3.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">ASUS Eee Pad Transformer Prime</div>
		</div>		
		<div style="float:left; width:68px;" onclick="window.open('http://usa.asus.com/Eee/Eee_Pad/Eee_Slate_EP121/','_blank')">
			<img style="width:60px" src="assets/product_images/Asus/related_products4.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:10px">ASUS Eee Slate EP121</div>
		</div>	
		<div style="clear:both"></div>									
	</div>
	<div>
		<div style="float:left; width:68px;" onclick="window.open('http://www.asus.com/Mobile/PadFone/','_blank')">
			<img style="width:60px" src="assets/product_images/Asus/related_products5.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px">ASUS PadFone</div>
		</div>	
		<div style="clear:both"></div>	
	</div>		
	<div style="margin-top:15px; font-size:12px;">	
		<div style="color:#505050; font-weight:bold; margin-bottom:5px">RELATED NEWS</div>
		<div style="color:#505050;">February 28, 2012</div>
		<div onclick="window.open('http://www.asus-pr.ch/pressrelease/asus-showcases-innovation-and-variety-through-its-transformer-pad-range/','_blank')" style="color:#009ED3; font-weight:bold;">
			ASUS Showcases Innovation and Variety through its Transformer Pad Range
		</div>			
		<div style="color:#505050; padding-top:7px;">January 9, 2012</div>
		<div onclick="window.open('http://www.corning.com/news_center/news_releases/2012/2012010903.aspx','_blank')" style="color:#009ED3; font-weight:bold;">
			ASUS Selects Corning&reg; Gorilla&reg; Glass 2
		</div>			
	</div>
		
	
	<div>
		<div class="spacer20"></div>																	
		<div class="hbox center_box" style="-webkit-border-radius:5px; border:1px solid #E0E0E0; font-size:9px; font-weight:normal; margin-left:auto; margin-right:auto; width:265px; height:40px; line-height:41px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));">
			<div style="text-align:center">SHARE THIS PAGE</div>																																
			<div id="asus_fb" data-analytics="asus_fb" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="asus_tw" data-analytics="asus_tw" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="asus_sms" data-analytics="asus_sms" style="background:url('assets/shares/sms.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="asus_email" data-analytics="asus_email" style="background:url('assets/shares/email.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>																						
		</div>
	</div>	
	
	<div class="gorilla_footer">
		<div class="spacer10"></div>
		<div class="footer-divider"></div>
		<div class="spacer10"></div>
		<div class="footer">
			<div class="footer-container2">
				<div>FOLLOW GORILLA GLASS ON</div>
				<div>	
					<div data-analytics="facebook_follow" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/CorningGorillaGlass', '_blank')"></div>
					<div data-analytics="twitter_follow" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://mobile.twitter.com/corninggorilla', '_blank')"></div>
					<div data-analytics="youTube_follow" style="background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/corningincorporated', '_blank')"></div>
				</div>
			</div>
		</div>
		<div class="spacer10"></div>
		<div class="footer-links-container">
			<span id="About_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">ABOUT CORNING</span> | <span id="Contact_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">CONTACT US</span> | <span class="footer-link" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx', '_blank')">TERMS OF USE</span>
			<div class="spacer5"></div>
			<div class="footer-copyright">&copy; 2013 Corning Incorporated. All rights reserved</div>
		</div>
		<div class="spacer10"></div>
	</div>
	
</div>
	