<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px; padding-top:10px">	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.showPageById('products_page')">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">DELL</span>
	</div>		
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #000), color-stop(1, #fff));"></div>		
	<div style="padding-top:5px" class="hbox justified_box">		
		<div style="padding-top:60px; width:30%">
			<img style="width:100%;" src="assets/product_images/Dell/Dell1.png"/>
		</div>					
		<div class="flex_child_2" style="-webkit-box-sizing:border-box; padding-left:10px;">
			<div style="padding-top:10px">
				<img style="width:65%" src="assets/product_images/Dell/Dell_logo.png"/>
			</div>	
			<div style="color:#505050; font-size:12px; padding-top:5px">
				Visually stunning, incredibly tough Corning&amp; Gorilla&amp; Glass enables today's sleekest smartphone, 
				tablet, and PC designs, while providing exceptional damage resistance to the drops, bumps and 
				scrapes of everyday use. Gorilla Glass is sensitive enough for today's most sophisticated touch 
				applications, and is available with an easy-to-clean coating.
			</div>			
			<div class="hbox center_box" style="width:100%; height:40px; line-height:40px; color:#555; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd)); font-size:9px; text-shadow:0 1px 0 rgba(255, 255, 255, .7); -webkit-border-radius: 5px; border: 1px solid #E0E0E0;  margin-top:10px">	
				<div>FOLLOW DELL ON</div>				
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://www.facebook.com/DellHomeUS', '_blank')"></div>
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://twitter.com/dellhomeus', '_blank')"></div>
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/user/DellVlog', '_blank')"></div>				
			</div>
		</div>
	</div>
	<div style="color:#505050; font-size:12px; font-weight:bold; margin-top:15px; margin-bottom:5px">FEATURED</div>
	<div>								
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://www.dell.com/us/p/xps-13-l321x/pd','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Dell/Dell_xps.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">Dell XPS 13</div>
		</div>	
		<div style="clear:both"></div>		
	</div>	
	<div style="color:#505050; font-size:12px; font-weight:bold; margin-top:15px; margin-bottom:5px">RELATED PRODUCTS</div>
	<div>								
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://www.dell.com/us/business/p/precision-m6700/pd','_blank')">
			<img style="width:60px" src="assets/product_images/Dell/related_products1.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Dell Precision M6700 Covet Edition</div>
		</div>		
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://www.dell.com/us/p/xps-15-l521x/pd','_blank')">
			<img style="width:60px" src="assets/product_images/Dell/related_products2.png"/>			
			<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Dell XPS 15</div>
		</div>						
		<div style="clear:both"></div>									
	</div>
	
	<div>
		<div class="spacer20"></div>																	
		<div class="hbox center_box" style="-webkit-border-radius:5px; border:1px solid #E0E0E0; font-size:9px; font-weight:normal; margin-left:auto; margin-right:auto; width:265px; height:40px; line-height:41px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));">
			<div style="text-align:center">SHARE THIS PAGE</div>																																
			<div id="dell_fb" data-analytics="dell_fb" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="dell_tw" data-analytics="dell_tw" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="dell_sms" data-analytics="dell_sms" style="background:url('assets/shares/sms.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="dell_email" data-analytics="dell_email" style="background:url('assets/shares/email.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>																						
		</div>
	</div>	
	
	<div class="gorilla_footer">
		<div class="spacer10"></div>
		<div class="footer-divider"></div>
		<div class="spacer10"></div>
		<div class="footer">
			<div class="footer-container2">
				<div>FOLLOW GORILLA GLASS ON</div>
				<div>	
					<div data-analytics="facebook_follow" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/CorningGorillaGlass', '_blank')"></div>
					<div data-analytics="twitter_follow" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://mobile.twitter.com/corninggorilla', '_blank')"></div>
					<div data-analytics="youTube_follow" style="background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/corningincorporated', '_blank')"></div>
				</div>
			</div>
		</div>
		<div class="spacer10"></div>
		<div class="footer-links-container">
			<span id="About_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">ABOUT CORNING</span> | <span id="Contact_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">CONTACT US</span> | <span class="footer-link" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx', '_blank')">TERMS OF USE</span>
			<div class="spacer5"></div>
			<div class="footer-copyright">&copy; 2013 Corning Incorporated. All rights reserved</div>
		</div>
		<div class="spacer10"></div>
	</div>
	
</div>
