<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px; padding-top:10px">	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.showPageById('products_page')">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">NEC</span>
	</div>		
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #000), color-stop(1, #fff));"></div>		
	<div style="padding-top:10px" class="hbox justified_box">		
		<div style="padding-top:10px; width:30%">
			<img style="width:100%;" src="assets/product_images/Nec/Nec1.png"/>
		</div>					
		<div class="flex_child_2" style="-webkit-box-sizing:border-box; padding-left:10px;">	
			<div style="color:#009ED3; font-size:14px; font-weight:bold;">NEC</div>
			<div style="color:#505050; font-size:12px; padding-top:5px">
				Visually stunning, incredibly tough Corning Gorilla&reg; Glass&reg; enables today's sleekest smartphone, 
				tablet, and PC designs, while providing exceptional damage resistance to the drops, bumps and scrapes 
				of everyday use. Gorilla Glass is sensitive enough for today's most sophisticated touch applications, 
				and is available with an easy-to-clean coating. 
				<br/><br/>
				Gorilla Glass is available on these NEC products:
				<ul>
					<li>docomo PRIME series N-02B</li>					
					<li>MEDIAS N-04C</li>															
				</ul>
			</div>									
		</div>		
	</div>
	
	<div>
		<div class="spacer20"></div>																	
		<div class="hbox center_box" style="-webkit-border-radius:5px; border:1px solid #E0E0E0; font-size:9px; font-weight:normal; margin-left:auto; margin-right:auto; width:265px; height:40px; line-height:41px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));">
			<div style="text-align:center">SHARE THIS PAGE</div>																																
			<div id="nec_fb" data-analytics="nec_fb" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="nec_tw" data-analytics="nec_tw" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="nec_sms" data-analytics="nec_sms" style="background:url('assets/shares/sms.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="nec_email" data-analytics="nec_email" style="background:url('assets/shares/email.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>																						
		</div>
	</div>	
	
	<div class="gorilla_footer">
		<div class="spacer10"></div>
		<div class="footer-divider"></div>
		<div class="spacer10"></div>
		<div class="footer">
			<div class="footer-container2">
				<div>FOLLOW GORILLA GLASS ON</div>
				<div>	
					<div data-analytics="facebook_follow" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/CorningGorillaGlass', '_blank')"></div>
					<div data-analytics="twitter_follow" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://mobile.twitter.com/corninggorilla', '_blank')"></div>
					<div data-analytics="youTube_follow" style="background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/corningincorporated', '_blank')"></div>
				</div>
			</div>
		</div>
		<div class="spacer10"></div>
		<div class="footer-links-container">
			<span id="About_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">ABOUT CORNING</span> | <span id="Contact_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">CONTACT US</span> | <span class="footer-link" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx', '_blank')">TERMS OF USE</span>
			<div class="spacer5"></div>
			<div class="footer-copyright">&copy; 2013 Corning Incorporated. All rights reserved</div>
		</div>
		<div class="spacer10"></div>
	</div>
	
</div>
