<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px; padding-top:10px">
	
	<div style="font-weight:bold; padding-bottom:10px">
		<span style="color:#009ED3; font-size:14px" onclick="gorilla.showPageById('products_page')">PRODUCTS WITH GORILLA</span>
		<span style="color:#505050; font-size:18px">»</span>
		<span style="color:#505050; font-size:14px">NOKIA</span>
	</div>		
	<div style="width:100%; height:1px; background:-webkit-Gradient(linear, 0 0, 100% 0, color-stop(0, #fff), color-stop(.5, #000), color-stop(1, #fff));"></div>				
	<div style="padding-top:5px" class="hbox justified_box">		
		<div style="padding-top:23px; width:30%">
			<img style="width:100%;" src="assets/product_images/Nokia/Nokia1.png"/>
		</div>					
		<div class="flex_child_2" style="-webkit-box-sizing:border-box; padding-left:10px;">	
			<div style="padding-top:10px">
				<img style="width:60%" src="assets/product_images/Nokia/Nokia_logo.png"/>
			</div>
			<div style="color:#505050; font-size:12px; padding-top:10px">
				Visually stunning, incredibly tough Corning&reg; Gorilla&reg; Glass enables today's sleekest smartphone and tablet designs, 
				while providing exceptional damage resistance to the drops, bumps, and scrapes of everyday use.
			</div>						
			<div class="hbox center_box" style="width:100%; height:40px; line-height:40px; color:#555; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd)); font-size:9px; text-shadow:0 1px 0 rgba(255, 255, 255, .7); -webkit-border-radius: 5px; border:1px solid #E0E0E0;  margin-top:10px">									
				<div>FOLLOW NOKIA</div>				
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/nokia', '_blank')"></div>
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://twitter.com/#!/nokia', '_blank')"></div>
				<div style="width:31px; margin-left:5px; height:31px; background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/nokia', '_blank')"></div>																	
			</div>			
		</div>
	</div>	
	<div style="color:#505050; font-size:12px; font-weight:bold; margin-top:15px; margin-bottom:5px">FEATURED</div>											
	<div>								
		<div style="margin-right:8px; float:left; width:68px;" onclick="window.open('http://www.nokia.com/global/products/phone/lumia920/','_blank')">
			<div style="height:60px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#CECECE)); -webkit-border-radius:0px; border:1px solid #ddd;">
				<img style="width:100%" src="assets/product_images/Nokia/featured_item1.png"/>
			</div>
			<div align="center" style="color:#505050; font-size:10px; margin-top:5px">NOKIA LUMIA 920</div>
		</div>				
		<div style="clear:both"></div>		
	</div>
	<div style="color:#505050; font-weight:bold; margin-bottom:15px; margin-top:15px">RELATED PRODUCTS</div>	
</div>	
	
	
<div class="hbox" style="height:120px; width:100%; background:-webkit-gradient(linear, left top, left bottom, color-stop(38%,#fcfcfc), color-stop(40%,#d7d7d7), color-stop(58%,#e7e7e7), color-stop(80%,#f8f8f8), color-stop(100%,#ffffff));">
	<div id="nokia_left_arrow" ontouchend="gorilla.currentScroller.scrollTo(-100, 0, 10,true);" style="-webkit-box-sizing:border-box; width:25px; height:55px; margin-Top:30px">
		<img style="width:20px" src="assets/left_arrow.png"/>
	</div>			
	<div id="nokia_wrapper" class="product_wrapper">
		<div id="product_scroller">
			<ul id="thelist">				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/700/','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_1.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia 700</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/701/','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_2.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia 701</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/702T/','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_3.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia 702T</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/801T/','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_4.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia 801T</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/808_PureView/','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_5.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia 808</div>
					</div>										
				</li>
			
				<li>
					<div style="text-align:center" onclick="window.open('http://www.t-mobile.com/shop/phones/Default.aspx','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_6.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Astound</div>
					</div>										
				</li>	
				
				<li>
					<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-c6-01','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_7.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia C6</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-c7-00?intc=ncomprod-fw-ilc-bdy-eng-na-nokiacomeu-g0-9-nokiaworldc7_228x96','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_8.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia C7</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-e6-00','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_9.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia E6</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-e7','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_10.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia E7</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.nokia.com/us-en/products/phone/lumia710/','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_11.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Lumia 710</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.nokia.com/gb-en/products/phone/lumia800','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_12.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Lumia 800</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.nokia.com/us-en/products/phone/lumia822/','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_Lumia822.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Lumia 822</div>
					</div>										
				</li>
							
				<li>
					<div style="text-align:center" onclick="window.open('http://www.nokia.com/us-en/products/phone/lumia900/','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_13.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Lumia 900</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.nokia.com/global/products/phone/lumia920/','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_19.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Lumia 920</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-n8?intc=ncomprod-fw-ilc-bdy-e6ppton8pp_0x0-na-ncomprod-eu-en-na','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_14.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia N8</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://swipe.nokia.com/','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_15.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia N9</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-oro','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_16.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia Oro</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://www.developer.nokia.com/Devices/Device_specifications/T7-00/','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_17.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia T7-00</div>
					</div>										
				</li>
				
				<li>
					<div style="text-align:center" onclick="window.open('http://europe.nokia.com/find-products/devices/nokia-x7-00','_blank')">						
						<img style="height:60px" src="assets/product_images/Nokia/related_products_18.png"/>						
						<div align="center" style="color:#009ED3; font-size:10px; margin-top:5px">Nokia X7</div>
					</div>										
				</li>			
			</ul>
		</div>
	</div>			
	<div id="nokia_right_arrow" ontouchend="gorilla.currentScroller.scrollTo(100, 0, 10,true);" style="width:25px; height:55px; margin-Top:30px">
		<img style="width:20px" src="assets/right_arrow.png"/>
	</div>		
	<div style="clear:both"></div>	
</div>	
	
	
	
<div style="-webkit-box-sizing:border-box; padding-left:10px; padding-right:10px;">						
	<div style="margin-top:15px; font-size:12px;">				
		<div style="color:#505050; font-weight:bold; margin-top:15px; margin-bottom:5px">CUSTOMER SERVICE INFO</div>
		<div style="color:#505050">Nokia experts can help you with questions related to your Nokia phone and services.</div>
		<div onclick="window.open('http://twitter.com/#!/NokiaHelps','_blank')" style="color:#009ED3">
			<u>http://twitter.com/#!/NokiaHelps</u>
		</div>
	</div>
	
	<div>
		<div class="spacer20"></div>																	
		<div class="hbox center_box" style="-webkit-border-radius:5px; border:1px solid #E0E0E0; font-size:9px; font-weight:normal; margin-left:auto; margin-right:auto; width:265px; height:40px; line-height:41px; background:-webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#ddd));">
			<div style="text-align:center">SHARE THIS PAGE</div>																																
			<div id="nokia_fb" data-analytics="nokia_fb" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="nokia_tw" data-analytics="nokia_tw" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="nokia_sms" data-analytics="nokia_sms" style="background:url('assets/shares/sms.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>
			<div id="nokia_email" data-analytics="nokia_email" style="background:url('assets/shares/email.png') no-repeat; background-size:100% 100%; width:31px; margin-left:8px; height:31px;" onclick="gorilla.socialSharing(this)"></div>																						
		</div>
	</div>	
	
	<div class="gorilla_footer">
		<div class="spacer10"></div>
		<div class="footer-divider"></div>
		<div class="spacer10"></div>
		<div class="footer">
			<div class="footer-container2">
				<div>FOLLOW GORILLA GLASS ON</div>
				<div>	
					<div data-analytics="facebook_follow" style="background:url('assets/shares/facebook.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.facebook.com/CorningGorillaGlass', '_blank')"></div>
					<div data-analytics="twitter_follow" style="background:url('assets/shares/twitter.png') no-repeat; background-size:100% 100%;" onclick="window.open('https://mobile.twitter.com/corninggorilla', '_blank')"></div>
					<div data-analytics="youTube_follow" style="background:url('assets/shares/youtube.png') no-repeat; background-size:100% 100%;" onclick="window.open('http://www.youtube.com/corningincorporated', '_blank')"></div>
				</div>
			</div>
		</div>
		<div class="spacer10"></div>
		<div class="footer-links-container">
			<span id="About_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">ABOUT CORNING</span> | <span id="Contact_btn" class="footer-link" onclick="gorilla.openExternalPage(this)">CONTACT US</span> | <span class="footer-link" onclick="window.open('http://www.corning.com/legal/privacy_policy.aspx', '_blank')">TERMS OF USE</span>
			<div class="spacer5"></div>
			<div class="footer-copyright">&copy; 2013 Corning Incorporated. All rights reserved</div>
		</div>
		<div class="spacer10"></div>
	</div>	
</div>


<script>
	gorilla.addScroll('nokia_wrapper');
</script>

